*{
    margin: 0;
}

body {
    font-family: Open Sans, Arial, sans-serif;
    /* font-size: 14px */
}

p {
    font-size: 18px;
    text-align:justify;
}

#contact_numbers {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 10px;
    padding: 2px;
    background-color: red;
    border: 0.5px solid black;
}

.contacts {
    padding: 20px;
}

.button-like {
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    background-color: black;
    color: white;
    padding: 3px 10px 3px 10px;
    margin: 0px 20px 0px 20px;
}

.nav-bar {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-bottom: 4px solid rgb(209, 209, 209);
    box-shadow: 5px 5px 10px gray;
}


#logo {
    height: 4.2rem;
}

#nav_links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}

#nav_links li a{
    text-decoration: none;
}

#nav_links li {
    list-style: none;
    padding: 10px;
    margin-top: 0px;
}

.paynow {
    font-size: large;
    padding: 6px 12px 6px 12px;
}

#slider_wrapper {
    position: relative;
    width: 100%;
    height: 600px;
    /* border: 10px solid green; */
    overflow: hidden;
}

#sliding_images {
    position: absolute;
    display: flex;
    width: 500%; 
    height: 100%;
    animation: sliding 15s infinite ease-in-out;
}

.banner {
    position: relative;
    width: 100vw; 
    height: 100%;
    flex-shrink: 0;
    object-fit: contain; 
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes sliding {
    0%, 20% { transform: translateX(0); }
    25%, 45% { transform: translateX(-100vw); }
    50%, 70% { transform: translateX(-200vw); }
    75%, 95% { transform: translateX(-300vw); }
    100% { transform: translateX(-400vw); }
}


.container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    /* border: 5px solid rgb(0, 10, 119); */
    margin: 30px;
}

.about_dis {
    padding: 50px;
    margin: 30px;
    /* border: 2px solid red; */
} 



.block_box {
    display: grid;
    margin: 30px;
    gap: 60px;
    /* border: 2px solid red; */
}
#block_box_header { 
    grid-area: 1 / 1 / 1 / 3;
    text-align: center;
    /* border: 2px solid red; */
    color: #03045e;
}
.block {
    text-align: center;
    padding: 40px;
    border: 1px solid rgb(203, 203, 203);
    background-color: white;
    border-radius: 5px;
    border-bottom: 4px solid rgb(203, 203, 203);
    width: 300px;;
}

.block img {
    height: 4.2rem;
    width: 4.2rem;

}

.block:hover {
    border-bottom: 4px solid red;
}



.courses_section {
    background-color: black;
    /* border: 5px solid red; */

}

.courses_section h2 {
    margin: 40px;
    color: white;
    text-align: center;
}

.courses {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 5px solid red; */
}


.courses_list img {
    width: 16rem;
    /* height: 15rem; */
}

.courses_list {
    display: flex;
    flex-direction: column;
    width: 16rem;
    border: 1px solid white;
    margin: 20px;
}

.courses_info {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.courses_info h4 , .courses_info p {
    color: white;
    text-align: center;
    padding: 5px;
}

.read_more_button {
    border: 1px solid white;
    margin-top: 10px;
    width: 100px;
    position: relative;
    display: flex;
}

.arrow {
    position: absolute;
    right: 10px;
    transition: transform 0.5s ease-in-out;
}


.read_more_button:hover {
    border: 1px solid rgb(0, 0, 0);
}

/* .arrow:hover,  {
    right: 30px;
} */

.Advantages_list h3, .youtube_section h3{
    text-align: center;
    font-size: 30px;
}

.Advantages_list ul {
    border: 1px solid rgb(0, 0, 0);
    padding: 50px;
    margin: 30px;
    border-radius: 5px;
    width: 100%;
}

.Advantages_list ul li {
    text-align: justify;
}
.youtube_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#youtube_video {
    background: 0px 0px; 
    border-radius: 20px; 
    border-style: initial; 
    border-width: 0px; 
    box-sizing: border-box; 
    height: 414.781px; 
    left: 0px; 
    margin-top: 30px; 
    max-width: 100%; 
    outline: 0px; 
    overflow: hidden; 
    padding: 0px; 
    /* position: absolute;  */
    text-size-adjust: 100%; 
    top: 0px; 
    vertical-align: baseline; 
    width: 736.797px;
}


.watch_button {
    text-align: center;
    border: 2px solid red;
    margin-top: 10px;
    width: 200px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}


.footer {
    background-color: black;
    padding: 40px 0;
    color: white;
    text-align: center;
}

/* About Section */
.footer-about {
    max-width: 350px;
    text-align: left;
}

.footer-about .logo {
    max-width: 350px;
    margin-bottom: 10px;
}

.footer-about p {
    font-size: 18px;
    text-align: justify;
    line-height: 1.5;
}

/* Social Media Icons */
.social-icons a {
    display: inline-block;
    margin: 10px 5px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

/* Courses & Links */
.footer-links {
    text-align: left;
}

.footer-links h3 {
    color: red;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin: 5px 0;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* Contact Section */
.footer-contact {
    max-width: 300px;
    text-align: left;
}

.footer-contact h3 {
    color: red;
}

.footer-contact p {
    font-size: 16px;
    line-height: 1.5;
}

.footer-contact a {
    color: whitesmoke;
    text-decoration: none;
}

.footer-contact a:hover {
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 20px;
    transform: translateY(30px);
    background-color: rgb(95, 95, 95);
    padding: 20px;    
}

.footer-bottom p {
    text-align: center;
    font-size: smaller;
    font-weight: 100;
}


@media (max-width: 475px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    #block_box_header { 
        grid-area: 1 / 1 / 1 / 1;
    }
    
    #logo {
        height: 2rem;
    }
    
    #nav_links {
        display: none;
    }

    #contact_numbers {
        display: grid;
        grid-template-columns: repeat(1, max-content);
        gap: 5px;
        padding: 1px;
        background-color: red;
        border: 0.5px solid black;
    }
    
    .contacts {
        padding: 20px;
    }
    
    .button-like {
        border-radius: 10px;
        border: 2px solid rgb(255, 255, 255);
        background-color: black;
        color: white;
        padding: 3px 10px 3px 10px;
        margin: 0px 20px 0px 20px;
    }
    
}